.weather__card {
    background: linear-gradient(180deg, hsl(210, 80%, 49%), hsl(299, 80%, 76%));
    margin-bottom: 2rem;
    padding: 2em;
    border-radius: 7px;
    box-shadow: 4px 4px 5px hsla(0, 0%, 0%, 0.5);
    min-width: 11rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather__card p { /*descendant combinator*/
    margin: 1rem 0;
}
.emojiDisplay {
    font-size: 7.5rem;
}