body {
    font-family: Circular Standard, Arial, Segoe UI Emoji; /*"Segoe UI Emoji" allows to properly show emojis*/
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.weather-form {
    margin: 20px;
}
.city-input {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid hsla(0, 0%, 20%, 0.3);
    border-radius: 10px;
    margin: 10px;
    width: 350px;
}
button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: hsl(126, 87%, 29%);
    color: white;
    border: none;
    border-radius: 5px;
}
button[type="submit"]:hover {
    cursor: pointer;
    background-color: hsl(126, 87%, 34%);
}
.weather-cap {
    font-size: 3.5rem;
    margin: 0 0 20px 0;
    color: hsl(238, 87%, 33%);
}
.card {
    background: linear-gradient(180deg, hsl(210, 80%, 49%), hsl(299, 80%, 76%));
    margin-bottom: 40px;
    padding: 50px;
    border-radius: 7px;
    box-shadow: 4px 4px 5px hsla(0, 0%, 0%, 0.5);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cityDisplay {
    margin-top: 0;
}
.card p { /*descendant combinator*/
    margin: 5px 0;
}
.cityDisplay, .tempDisplay {
    font-size: 3.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}
.humidityDisplay {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 25px;
}
.descDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.emojiDisplay {
    margin: 0;
    font-size: 7.5rem;
}
.errorDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.75);
}

@media screen and (max-width: 600px) {
    .weather-cap{
        font-size: 2rem;
    }
}